database.sqlite3
dev.db
*.pid
*.socks
*.db
RUN
democracy_log.txt
emocracy_log.txt
thirdparty_log.txt
settings_local.py
.ropeproject/
*.pyc
*.pyo
*.DS_Store
*.mo
*.swp
*.swo
*~
*.sqlite3
*.log
democracy/media/admin
thirdparty/media/admin
